[{"id":"1a594d83-0aba-4c6f-82e6-f8dc81e68076","name":"未命名","url":"https://xyks.yuanfudao.com/leo-game-pk/android/math/pk/match*","wildcard":true,"isEnabled":true,"code":"ZnJvbSByZXFhYmxlIGltcG9ydCAqCmRlZiBvblJlcXVlc3QoY29udGV4dCwgcmVxdWVzdCk6CiAgcmV0dXJuIHJlcXVlc3QKZGVmIG9uUmVzcG9uc2UoY29udGV4dCwgcmVzcG9uc2UpOgogIHByaW50KHJlc3BvbnNlLmJvZHkpCiAgcmVzcG9uc2UuYm9keS5qc29uaWZ5KCkKICBmb3IgaSBpbiByZXNwb25zZS5ib2R5WydleGFtVk8nXVsicXVlc3Rpb25zIl06CiAgICBpWyJhbnN3ZXIiXSA9ICIxIgogICAgaVsiYW5zd2VycyJdWzBdID0gIjEiCiAgcmV0dXJuIHJlc3BvbnNlCg=="}]